<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group row">
          <div class="col-md-6">
            <label for="ex1">Movie Name</label>
            <input class="form-control" id="ex1" type="text" formControlName="movieName">
          </div>
          <div class="col-md-6">
            <label for="ex2">Director Name</label>
            <input class="form-control" id="ex2" type="text" formControlName="directorName">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <label for="ex3">Production By</label>
            <input class="form-control" id="ex3" type="text" formControlName="productionBy">
          </div>
          <div class="col-md-4">
            <label for="ex3">Release Year</label>
            <input class="form-control" id="ex3" type="text" formControlName="releaseYr">
          </div>
          <div class="col-md-4">
            <label for="ex3">Genre</label>
            <select class="form-control" formControlName="genre">
              <option *ngFor="let genre of genres" [ngValue]="genre.name">{{genre.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 text-center">
              <button type="button" class="btn btn-primary" id="btn" name="btn" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Movie Name</th>
          <th>Director</th>
          <th>Release Year</th>
          <th>Production</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{movie.movieName}}</td>
          <td>{{movie.directorName}}</td>
          <td>{{movie.productionBy}}</td>
          <td>{{movie.releaseYr}}</td>
          <td>{{movie.genre}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>